* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --DarkModeElements: hsl(209, 23%, 22%);
    --DarkModeBackground: hsl(207, 26%, 17%);
    --LightModeText: hsl(200, 15%, 8%);
    --LightModeInput: hsl(0, 0%, 50%);
    --LightModeBackground: hsl(0, 0%, 99%);
    --White: hsl(0, 100%, 100%);
}

.darkmode {
    background-color: var(--DarkModeBackground);
    color: var(--LightModeText);
}

#theme-switch {
    width: 40px;
    height: 40px;
    background: transparent;
    border: 3px solid var(--LightModeBackground);
    border-radius: 5px;
    justify-items: center;
    cursor: pointer;
}

#theme-switch img:last-child {
    display: none;
}

.darkmode #theme-switch img:first-child {
    display: none;
}

.darkmode #theme-switch img:last-child {
    display: block;
}

img {
    max-width: 100%;
    display: block;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--LightModeBackground);
    transition: background-color 250ms ease, color 250ms ease;
}

header {
    width: 100%;
    background-color: var(--White);
    padding: 1rem;
    color: var(--DarkModeBackground);
    box-shadow: 0 0 5px var(--LightModeInput);
    margin-bottom: 1rem;
}

.darkmode header {
    background-color: var(--DarkModeElements);
    color: var(--White);
}

.container {
    width: 90%;
    padding: .5rem 1rem .5rem 1rem;
    margin: 0 0 0 4.5rem;
}

header nav {
    display: flex;
    justify-content: space-between;
}

main {
    padding: 1.5rem 2.5em 0 2.5rem;
    margin: 0 4em 0 4rem;
}

.user-input {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5em;
}

.user-input .search-input {
    background-color: var(--White);
    box-shadow: 0 0 10px var(--LightModeText);
    border-radius: 5px;
    display: flex;
}

.darkmode .search-input {
    background-color: var(--DarkModeElements);
}

.user-input .search-input img {
    padding: .5em;
    height: 100%;
}

.user-input .search-input input {
    font-family: 'Nunito Sans', sans-serif;
    width: 350px;
    border: 0;
    outline: none;
}

.darkmode .user-input .search-input input {
    background-color: var(--DarkModeElements);
}


.user-input .search-input input,
.user-input .select-input select {
    background-color: var(--White);
    padding: 1em;
    border-radius: 5px;
}

.darkmode .user-input .select-input select {
    background-color: var(--DarkModeElements);
    border: 1px solid var(--DarkModeElements);
    color: var(--LightModeInput);
}


.user-input .select-input select {
    box-shadow: 0 0 10px var(--LightModeInput);
    border-radius: 5px;
    border: 1px solid var(--White);
    /* outline: none; */
    font-family: 'Nunito Sans', sans-serif;
}

.country-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4rem;
}

.country-list-container .country-item {
    cursor: pointer;
    background-color: var(--White);
    color: var(--DarkModeBackground);
    border-radius: 5px;
    text-align: left;
    box-shadow: 0 0 10px var(--LightModeBackground);
    border: none;
    overflow: hidden;
}

.darkmode .country-list-container .country-item {
    color: var(--White);
    background-color: var(--DarkModeElements);
    box-shadow: none;

}


.country-list-container .country-item:hover {
    box-shadow: 0 0 10px var(--DarkModeElements)
}

.darkmode .country-list-container .country-item:hover {
    box-shadow: 0 0 10px var(--LightModeBackground);
}

.country-list-container .country-item img {
    width: 100%;
    height: 180px;
    margin-bottom: .5rem;
}

.country-list-container .country-item .country-info {
    padding: 1rem 0 1rem 1rem;
    text-align: left;
}

.country-list-container .country-item .country-info h2 {
    margin-bottom: 1rem;
}

.country-list-container .country-item .country-info p {
    margin-bottom: 1rem;
}

.country-detail-container.show {
    display: block;
}

.country-detail-container .back-btn {
    cursor: pointer;
    display: flex;
    width: 100px;
    border-radius: 5px;
    background-color: var(--White);
    color: var(--LightModeText);
    padding: .5rem;
    margin-bottom: 4rem;
    border: 0;
    box-shadow: 0 0 10px var(--DarkModeElements);
    font-family: 'Nunito Sans', sans-serif;
}

.darkmode .country-detail-container .back-btn {
    background-color: var(--DarkModeElements);
    color: var(--White);
}

.country-detail-container .back-btn span {
    width: 100px;
    margin-top: .25rem;
}

.country-detail-container .selected-country-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    color: var(--LightModeText);
}

.darkmode .country-detail-container .selected-country-info {
    color: var(--White);
}

.country-detail-container .selected-country-info img {
    width: 100%;
}

.country-detail-container .selected-country-info .selected-country-details {
    margin-top: 2rem;
}

.country-detail-container .selected-country-info h2 {
    margin: 1.5rem 0 2rem 0;
}

.country-detail-container .selected-country-info ul {
    columns: 2;
    list-style: none;
    margin-bottom: 4rem;
}

.country-detail-container .selected-country-info ul li {
    margin-bottom: .5rem;
}

.country-detail-container .selected-country-info ul li strong {
    padding-right: .3rem;
}

strong {
    padding-left: .2rem;
}

.country-detail-container .selected-country-info .selected-country-details .selected-country-borders strong {
    margin-bottom: .5rem;
}

.country-detail-container .selected-country-info .selected-country-details .selected-country-borders span {
    border: 1px solid var(--LightModeInput);
    padding: .25rem 1.25rem;
    border-radius: 2px;
    display: inline-block;
}

@media (max-width: 1024px) {
    .container {
        width: 80%;
    }

    .country-list-container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}

@media (max-width: 768px) {
    .user-input {
        margin-bottom: 2rem;
        flex-direction: column;
        gap: 2rem;
    }

    .user-input .search-input {
        display: flex;
        align-items: center;
    }

    .user-input .search-input input {
        width: 100%;
    }

    .country-detail-container .selected-country-info {
        grid-template-columns: 1fr;
    }

    .country-detail-container .selected-country-info .selected-country-details ul {
        columns: 1;
    }

    .country-detail-container .selected-country-info .selected-country-details .selcted-country-borders strong {
        display: block;
        margin-bottom: 1rem;
    }

    .country-detail-container .selected-country-info .selected-country-details .selcted-country-borders span {
        display: inline-block;
        margin: 0 0 .5rem 0;
    }
}

@media (max-width: 540px) {
    main {
        margin: auto;
    }

    .user-input {
        margin: 0 0 1rem 0;
    }

    .container {
        width: 200px;
        margin-left: .5rem;
        width: 80%;
        gap: 1rem;
        
    }

    header {
        font-size: .75rem;
    }

    .dark-mode btn {
        font-size: .9rem;
    }

    .country-list-container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .country-detail-container .selected-country-info {
        gap: 1rem;
    }

    .country-detail-container .selected-country-info .selected-country-details {
        margin-top: 0;
    }
}